@model UserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details Employee </h1>


<br />


<div>

    <partial name="UserPartialViews/DetailsDeletePartialView" model="Model" />

    <a  asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a  asp-action="Index" class="btn btn-light"> Back To List </a>
    
</div>